.tiptap p:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.tiptap p {
  margin: 0 !important;
  padding: 0 !important;
}

.ProseMirror {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  box-shadow: none !important;
}